<div id="login">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Login Menu
                </div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="submitForm()">
                        <div class="form-floating mb-3">
                            <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email"/>
                            <label for="username">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" id="password" class="form-control" placeholder="Username" formControlName="password"/>
                            <label for="username">Password</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" appBsButton [disabled]="form.invalid" >Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>