<div class="row">
    <div class="col-sm-4" style="padding-left: 90px;">
        <img id="logo" src="../../assets/img/Bank_Mandiri_Logo.png" alt="">
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li class="active"><a href="#">Event</a></li>
            <li class="active"><a href="#">About</a></li>
            <li class="active"><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="col-sm-4 pad">
        <h4>Central Office</h4>
        <h5>Jl. Jendral Gatot Kav. 36 - 38</h5>
        <h5>Jakarta 12190 Indonesia</h5>
    </div>
    <div class="col-sm-4 pad">
        <h4 id="followUs">Follow Us</h4>
        <img src="../../assets/img/Bank_Mandiri_Logo.png" alt="">
    </div>
</div>

<div id="copyright">
    <p>&copy;2020 PT Bank Mandiri (Persero) Tbk</p>
</div>