.nav-img {
    width: 60px;
    margin-left: 20px;
}

.icon {
    font-size: 48px;
    color: orange;
}

.jumbotron-image {
    width: 100%;
}

nav {
    transition: background-color 200ms linear;
}

a {
    color: white;
}