<div class="container bg-light" id="our-products">
    <h3>Our Products</h3>
    <div class="row">
      <div class="col-sm-4" id="ourProduct1">
        <img src="../../assets/img/platinum.png" width="250" height="250" alt="">
        <h4>Platinum Vest</h4>
      </div>
      <div class="col-sm-4" id="ourProduct2">
        <img src="../../assets/img/gold.png" width="250" height="250" alt="">
        <h4>Gold Investment</h4>
      </div>
      <div class="col-sm-4" id="ourProduct3">
        <img src="../../assets/img/silver.png" width="250" height="250" alt="">
        <h4>Silver Investment</h4>
      </div>
    </div>
  </div>
