<h2 class="title">My Transaction</h2>
<div class="card mt-3">
    <div class="card-body">
        <div class="flex-row d-flex">
            <div class="flex-grow-1">
                <h3>Buy</h3>
                <h4>Product</h4>
                <h4>Product Name: Gold</h4>
                <h4>Quantity: 1 gram</h4>
            </div>
            <div class="flex-grow">
                <h3>25 March 2021</h3>
                <h4>Total Price</h4>
                <h2>Rp 850.000</h2>
                <button type="button" class="btn btn-success">DETAILS</button>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <div class="flex-row d-flex">
            <div class="flex-grow-1">
                <h3>Buy</h3>
                <h4>Product</h4>
                <h4>Product Name: Gold</h4>
                <h4>Quantity: 1 gram</h4>
            </div>
            <div class="flex-grow">
                <h3>25 March 2021</h3>
                <h4>Total Price</h4>
                <h2>Rp 850.000</h2>
                <button type="button" class="btn btn-success">DETAILS</button>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <div class="flex-row d-flex">
            <div class="flex-grow-1">
                <h3>Buy</h3>
                <h4>Product</h4>
                <h4>Product Name: Gold</h4>
                <h4>Quantity: 1 gram</h4>
            </div>
            <div class="flex-grow">
                <h3>25 March 2021</h3>
                <h4>Total Price</h4>
                <h2>Rp 850.000</h2>
                <button type="button" class="btn btn-success">DETAILS</button>
            </div>
        </div>
    </div>
</div>
