<h2 class="title">My Transaction</h2>
<div class="card mt-3" *ngFor="let history of histories">
    <div class="card-body">
        <div class="flex-row d-flex">
            <div class="flex-grow-1">
                <h3 *ngIf="history.product.productStatus == 1">Buy</h3>
                <h3 *ngIf="history.product.productStatus == 2">Sell</h3>
                <h4>Product</h4>
                <h4>Product Name: {{history.product.productName}}</h4>
                <h4>Quantity: 1 gram</h4>
            </div>
            <div class="flex-grow">
                <h3>{{history.historyDate | date}}</h3>
                <h4>Total Price</h4>
                <h2>{{history.priceBuy}}</h2>
                <button type="button" class="btn btn-success">DETAILS</button>
            </div>
        </div>
    </div>
</div>
