<div class="container" id="explain-page">
    <div class="row">
      <div class="col-sm-6">
        <img src="../../assets/img/subs.png" alt="" id="img">
      </div>
      <div class="col-sm-6">
        <h3 id="mandiri-explain">Why Mandiri Gold?</h3>
        <div class="row" style="text-align: center; margin-bottom: 30px;">
            <div class="col-sm-4">
                <h4>Delivery</h4>
                <p>We have free delivery service to all city in indonesia</p>
            </div>
            <div class="col-sm-4">
                <h4>Legality</h4>
                <p>We commit to keep your trusted with legality transaction</p>
            </div>
            <div class="col-sm-4">
                <h4>Price</h4>
                <p>Good quality with the best price</p>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-sm-4">
                <h4>Reward</h4>
                <p>More transaction more point and reward</p>
            </div>
            <div class="col-sm-4">
                <h4>Transaction</h4>
                <p>Our transaction is simple and secure</p>
            </div>
            <div class="col-sm-4">
                <h4>Brand</h4>
                <p>Our product is the best on quality and brand</p>
            </div>
        </div>
        <h4 id="label-join">Let's Join Us For Free</h4>
        <button type="button" class="btn btn-warning" id="button-register">Register</button>

        
      </div>
    </div>
  </div>
